pipeline/Main.json
{
	"name": "Main",
	"properties": {
		"activities": [
			{
				"name": "Validation1",
				"type": "Validation",
				"typeProperties": {
					"dataset": {
						"referenceName": "dstempsample",
						"type": "DatasetReference"
					},
					"timeout": "7.00:00:00",
					"sleep": 10,
					"childItems": true
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@if(activity('Validation1').output.true,'1','0')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy1",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "AzureBlobFSSource",
									"recursive": false
								},
								"sink": {
									"type": "AzureBlobFSSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dsrawsample",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dstempsample",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Sample Files",
				"type": "Copy",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureBlobFSSource",
						"recursive": false
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "dsrawsample",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dstempsample",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "dataprep"
		}
	}
}